.hidden {
    display: none;
}
#userForm label {
    font-size: 50px;
    color: white;
}

#userText {
    font-size: 50px;
    width: 200px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    outline: none;
}
.welcome {
    font-size: 50px;
}
.disappear {
    display: none;
}