@import 'css/clock.css';
@import 'css/weather.css';
@import 'css/user.css';
@import 'css/todo.css';
@import 'css/quotes.css';



body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
