@import 'css/clock.css';
@import 'css/weather.css';
@import 'css/user.css';
@import 'css/todo.css';
@import 'css/quotes.css';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
body * {
    font-family: "Open Sans", serif;
}
